<!doctype html>
<html>
<head>
   <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="../static/js/favorites.js"></script>
    <title></title>
    <style>
  .image {
    border: 1px solid #ddd;
    border-radius: 4px;  
    padding: 5px; 
    width: 150px; 
    height: 150px; 
  }
</style>
</head>
<body>
 <h1>All Fabric</h1>
    <ul style="list-style: none;">
      {% for fabric in fabrics %}
          <li>
              <img class= 'image'src={{ fabric.url }}>
               <button id="{{ fabric.fabric_id }}" class="favorite-btn">&hearts; Add to Project</button>
         </li>
  
    {% endfor %}
    </ul>
</body>
</html>