<!doctype html>
<html>
<head>
  <title>ACraftyBot Projects</title>
  <style>
  .image {
    border: 1px solid #ddd;
    border-radius: 4px;  
    padding: 5px; 
    width: 150px; 
    height: 150px; 
  }
  .title{
    font-size: 25px;
  }
    </style>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<script src="https://unpkg.com/react@latest/dist/react.js"></script>
<script src="https://unpkg.com/react-dom@latest/dist/react-dom.js"></script>
<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
<script type="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.js"></script>
<link rel="stylesheet" href="../../static/css/theme3.css"/>
</head>

<body>
<div id="caleandar" class="container-fluid"></div><br>
<div id="root"></div><br>


<div>
  <h1>All Projects</h1>
  <ul style="list-style: none;">
    {% for project in projects %}
        <li>
            <a class = 'title' href="/user/{{ user_id }}/projects/{{ project['project_id'] }}">
             {{ project['name']}} 
            </a><br>
            <a href = "/user/{{ user_id }}/pattern"><img class='image' src={{ project['pattern_image'] }}></a><a href= "/user/{{ user_id }}/fabric"><img class= 'image'src={{ project['fabric_image'] }}></a>
          {% for image in range(6) %}
            <img class ='image' src= {{ project['status_images'][image] | default("../../static/images/grey_box.jpg") }}>
            {% endfor %} 
        
       </li>

  {% endfor %}
  </ul>
</div>
<script type="text/javascript" src="../../static/js/caleandar.min.js"></script>
<script type="text/javascript" src="../../static/js/mycalendar.js"></script>
<script src="/static/react.js"></script>
<script type="text/babel">
'use strict';
      ReactDOM.render(
        <h1>Hello,You have a react element on your page!</h1>,
        document.getElementById('root')
      );</script>
</body>
</html>

